@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-white: hsl(0, 100%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey-900: hsl(217, 19%, 35%);
  --color-grey-500: hsl(214, 17%, 51%);
  --color-grey-400: hsl(212, 23%, 69%);
  --color-grey-200: hsl(210, 46%, 95%);

  --text-preset1: 700 20px/130% "Manrope", sans-serif;
  --text-preset2: 500 13px/140% "Manrope", sans-serif;
  --text-preset2-bold: 700 13px/140% "Manrope", sans-serif;
  --text-preset3: 700 13px/140% "Manrope", sans-serif;

  --text-preset1-spacing: 0.25px;
  --text-preset2-spacing: 0.12px;
  --text-preset3-spacing: 0.25em;

  --spacing-50: 0.25rem; /* 4px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-600: 3rem; /* 48px */
  --spacing-700: 3.5rem; /* 56px */
  --spacing-800: 4rem; /* 64px */
  --spacing-900: 4.5rem; /* 72px */
  --spacing-1000: 5rem; /* 80px */
  --spacing-1400: 7rem; /* 112px */
  --spacing-1600: 8rem; /* 128px */
}

html,
body {
  font-family: "Manrope", sans-serif;
  letter-spacing: 0px;
  background-color: var(--color-white);
}

body {
  /* 如果不开启特定的抗锯齿设置，字体往往会显得略微发虚、变粗，视觉上就会觉得“宽”了 */
  /* 针对 Chrome, Safari (Mac) */
  -webkit-font-smoothing: antialiased;
  /* 针对 Firefox (Mac) */
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;

  /* 这个强制居中不要用 */
  align-items: center;
  min-height: 100vh;
}

body {
  background-color: var(--color-grey-200);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 327px;
  gap: 32px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-white);
  padding-bottom: 18px;

  img {
    width: 100%;
    height: 200px;
    display: block;
    object-fit: cover;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    width: 267px;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      .title {
        font: var(--text-preset1);
        letter-spacing: var(--text-preset1-spacing);
        color: var(--color-grey-900);
      }
      .subtitle {
        font: var(--text-preset2);
        letter-spacing: var(--text-preset2-spacing);
        color: var(--color-grey-500);
      }
    }

    .profile {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .left {
        display: flex;
        gap: 16px;
        align-items: center;

        img {
          width: 40px;
          height: 40px;
          display: block;
          object-fit: cover;
          border-radius: 50%;
        }
        .profile__text {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .name {
            font: var(--text-preset2-bold);
            letter-spacing: var(--text-preset2-spacing);
            color: var(--color-grey-900);
          }
          .date {
            font: var(--text-preset2);
            letter-spacing: var(--text-preset2-spacing);
            color: var(--color-grey-400);
          }
        }
      }

      .share-panel {
        position: absolute;
        display: none;
        padding: 16px 32px;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-grey-900);

        /* 核心布局：打破父容器宽度限制 */
        left: -30px; /* (327px - 267px) / 2 = 30px，向左拉伸 */
        bottom: -20px; /* 抵消 main 的 padding-bottom (大致值，根据你的padding调整) */

        width: 327px; /* 强制宽度与 main 一致 */
        height: 76px; /* 题目要求的高度 */

        .share-panel-left {
          display: flex;
          gap: 24px;

          .share-text {
            font: var(--text-preset3);
            letter-spacing: var(--text-preset3-spacing);
            color: var(--color-grey-400);
          }

          .icons {
            display: flex;
            gap: 16px;

            img {
              width: 20px;
              height: 20px;
            }
          }
        }

        .share-active-btn {
          border: none;
          padding: 0;
          background: none;
          display: flex; // 或者 inline-flex
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          border-radius: 50%; // 保证按钮圆形
          overflow: hidden; // 防止按钮溢出
          background-color: var(--color-grey-500);
          color: var(--color-white);
          img {
            width: 15px;
            display: block;
            object-fit: contain;
            border-radius: 50%;
          }
        }
      }

      &.active {
        .share-panel {
          display: flex;
        }
      }
      .share {
        border: none;
        padding: 0;
        background: none;
        display: flex; // 或者 inline-flex
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%; // 保证按钮圆形
        overflow: hidden; // 防止按钮溢出
        background-color: #ecf2f8;

        img {
          width: 15px;
          display: block;
          object-fit: contain;
          border-radius: 50%;
        }
      }
    }
  }
}
